body{
  /* margin-left: 5px !important;
  margin-right: -15px !important; */
}

.default-bg{
  background: #FFF3D9;
}

.login-bg{
  background-image: -webkit-gradient(linear, right top, left top, from(#9f78ff), to(#32cafe));
  background-image: -webkit-linear-gradient(left, #9f78ff, #32cafe);
  background-image: -moz-linear-gradient(left, #9f78ff, #32cafe);
  background-image: -o-linear-gradient(left, #9f78ff, #32cafe);
  background-image: linear-gradient(to right, #9f78ff, #32cafe);
  background-repeat: repeat-x,
}